#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc5b9;
  height: 100vh;
}

h1 {
  color: #eb5e28;
  font-size: 100px;
}

button {
  background-color: #252422;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px;

}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

p {
  font-size: 30px;
}

li {
  list-style-type: none;
  font-size: 25px;

}

ul {
  color: #eb5e28;
  text-align: left;
  padding-left: 0;
}

input[type=number] {
  border: 2px solid #eb5e28;
  border-radius: 4px;
  padding: 10px;
  font-size: 20px;
}